#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.id-card {
    border: 2px solid gold;
    padding: 20px;
    border-radius: 10px;
    background: #222;
    min-width: 200px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    font-size: 16px;
}